
<div class="container bg-dark mb-5 pt-4">
  <div class="bg-body-secondary">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://dummyimage.com/1000x350/000/fff" class="d-block w-100" alt="example">
        </div>
        <div class="carousel-item">
          <img src="https://dummyimage.com/1000x350/000/fff" class="d-block w-100" alt="example">
        </div>
        <div class="carousel-item">
          <img src="https://dummyimage.com/1000x350/000/fff" class="d-block w-100" alt="example">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="row mt-5">
      <div class="col mb-5">
        <img src="https://dummyimage.com/700x500/000/fff" class="img-thumbnail" alt="example">
      </div>
      <div class="col m-2 bg-light">
        <h1>Placeholder Esports Week Singapore Buy Your Tickets</h2>
        <div class="row m-4">
          <div class="col-12 m-3"> <button type="button" class="btn btn-dark" style="width: 100%;">Get your Tickets now!</button> </div>
          <div class="col-12 m-3"> <button type="button" class="btn btn-dark" style="width: 100%;">Placeholder Esports week</button> </div>
        </div>

      </div>
    </div>
  </div>








</div>


